{{define "header"}}
<header class="main-header">
  <div class="logo-container">
    <a href="/"><img src="/static/images/box.png" alt="Box Logo" /></a>
  </div>

  <nav class="main-navbar">
    <a href="/api/products">Products</a>
    <a href="https://www.buymeacoffee.com/cmarcial"
      >Buy me a coffee
      <img
        src="/static/images/coffee-cup.png"
        class="coffee-cup"
        alt="coffee cup"
    /></a>
  </nav>
</header>
{{ end }}
