{{define "header"}}
<header class="main-header">
  <div class="logo-container">
    <a href="/"><img src="/static/images/box.png" alt="Box Logo" /></a>
  </div>

  <nav class="main-navbar">
    <a href="/docs">Docs</a>
    <a href="/api/products">Products</a>
    <a href="/support">Support</a>
  </nav>
</header>
{{ end }}
